
body#slides { 
  background-color:#fff;
}

h1 {
  color:#333;
  font-size:3em;
}

h2 {
  font-size:2em;
  text-align:left;
  margin:2em 0 0 0;
}

section {
  height:800px;
  width:100%;
  text-align:center;
}


section#one h2 {
  text-align: center;
  margin-top:0;
}

p, ul {
  font-size:1.5em;
  text-align:left;
  margin:.5em 0 0 0;
}

li {
  margin-top:.5em;
}

ul li ul {
  font-size:1em;
}


pre {
  text-align: left;
  background:#222;
  color:#ccc;
  padding:1em;
  font-size:1.25em;
}

ul li pre {
  font-size:.75em;
}
